* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.reelsContainer {
    /* background: pink; */
    position: relative;
    overflow-y: visible;
    height: 80vh;
    width: 25vw;
    margin-top: 4em;
    display: flex;
    gap: 2em;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.reelsContainer::-webkit-scrollbar {
    display: none;
}


.reel  {
    min-height: 75vh;
    min-width: 25vw;
    height: auto;
    width: 100%;
    background-color: rgb(63, 6, 6);
    scroll-snap-align: start;
}