* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", serif;
    background: #0c0f14;
    overflow: hidden;
    position: relative;


}

.navbar {

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 65px;
    margin-bottom: 15px;
    margin-left: -8px;
    margin-right: 0;
    --col-white: #ffffff;
    --col-bright-sat: #6326ad;
    --col-bright: #52555a;
    --col-dark: #aeaeae;
    --col-black: #0c0f14;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: drop-shadow(8px 8px 16px rgba(82, 85, 90, 0.5));
    background-color: var(--col-black);
    z-index: 10;
    border-radius: 0 0 30px 30px;
    border: white 10em;
}
/* The navigation bar */

/*   */

.wrapper {
    animation: scroll 100s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
    color: #eee;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    position: inherit;
    z-index: -15;
    overflow: clip;
    overflow-block: clip;
    max-height: 1650px;
    max-width: 800px;
}

@keyframes scroll {
    100% {
        background-position: 0 -400%;
    }
}

.title {
    font-size: 2.5rem;
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
    .wrapper {
        animation: scroll 800s linear infinite;
    }
}

@media (min-width: 670px) {
    .title {
        font-size: 5rem;
    }
}


/*   */

.nav-center {
    position: relative;
    right: 50%;
    left: 50%;
    transform: translateY(50%);

}

.main-nav {
    position: sticky;
    transform: translateX(-50%) translateY(85vh);
}

.size {
}
section {
    --col-white: #ffffff;
    --col-bright-sat: #6326ad;
    --col-bright: #52555a;
    --col-dark: #aeaeae;
    --col-black: #0c0f14;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--col-black);
    border-radius: 30px;
    filter: drop-shadow(8px 8px 16px rgba(82, 85, 90, 0.5));
    z-index: 10;
}

.label {
    padding: 18px 28px;
    transition: all 200ms;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.label input[type="radio"] {
    display: none;
}
.label > svg {
    transition: all 200ms;
    fill: var(--col-bright);
    width: 25px;
}
.label:hover:not(:has(input:checked)) > svg {
    fill: var(--col-bright-sat);
    opacity: 0.6;
}
.label::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 30px;
    background: var(--col-white);
    transition: all 200ms;
}
.label > svg {
    transition: 300ms;
    fill: var(--col-bright );
    margin-top: 0;
}
.label:has(input:checked) > svg {
    fill: var(--col-white);
    scale: 1.2;
    margin-top: -15px;
}

.label:has(input:checked)::before {
    width: 100%;
    left: 0;
    top: 25px;
}

.logo_icon {
    transform: scale(200%);
}

.nav-bar-logo-gup {
    fill: var(--col-white);
    scale: 1.2;
    justify-content: left;
    margin-left: 20px;
}

.nav-bar-logo-msg {
    fill: var(--col-white);
    scale: 1.2;
    justify-content: right;
    margin-right: 20px;
}