<!DOCTYPE html>
<html lang="en_us">
<head>
    <meta charset="utf-8">
    <title>Gup | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:400,600" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cd4693caa2.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet">
</head>
<body>
<div class="main-nav">
<div class="nav-center">
{% include 'menu/nav.html' %}
</div>
</div>

</body>
</html>