<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gup | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:400,600" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/login.css') }}" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon.svg') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
<div class="main-nav">
    <div class="nav-center">
        {% include 'menu/nav.html' %}
    </div>
</div>

<div class="input-group">
    <input required="required" type="text" name="text" autocomplete="off" class="input">
    <label class="user-label">First Name</label>
</div>

</body>
<script src="https://kit.fontawesome.com/cd4693caa2.js" crossorigin="anonymous"></script>

</html>