<!DOCTYPE html>
<html lang="en_us">
<head>
    <meta charset="utf-8">
    <title>Gup | Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:400,600" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/login.css') }}" rel="stylesheet">
</head>
<body>

<div class="input-group">
    <input required="required" type="text" name="text" autocomplete="off" class="input">
    <label class="user-label">First Name</label>
</div>

</body>
</html>